<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hyperlinkDetector" name="hyperlinkDetector" schema="schema/hyperlinkDetector.exsd"/>
   <extension-point id="contentAssistProcessor" name="contentAssistProcessor" schema="schema/contentAssistProcessor.exsd"/>
   <extension-point id="searchPathContributor" name="searchPathContributor" schema="schema/searchPathContributor.exsd"/>

   <!-- the editor contribution -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.millennialmedia.pyro.ui.editor.RobotFrameworkEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="tsv,txt,robot"
            icon="icons/pyro.png"
            id="com.millennialmedia.pyro.ui.editor.RobotFrameworkEditor"
            name="%plugin.editor.name">
      </editor>
   </extension>
   
   <!-- default hyperlinking -->
   <extension
         point="com.millennialmedia.pyro.ui.hyperlinkDetector">
      <detector class="com.millennialmedia.pyro.ui.internal.hyperlink.LocalKeywordDefinitionHyperlinkDetector" priority="1" />
      <detector class="com.millennialmedia.pyro.ui.internal.hyperlink.ResourceFileKeywordDefinitionHyperlinkDetector" priority="2" />
      <detector class="com.millennialmedia.pyro.ui.internal.hyperlink.ResourceFileHyperlinkDetector" priority="8" />
   </extension>
   
   
   <!-- default content assist contributors -->
   <extension
         point="com.millennialmedia.pyro.ui.contentAssistProcessor">
         <processor class="com.millennialmedia.pyro.ui.internal.contentassist.LocalKeywordAssistContributor" priority="5" />
         <processor class="com.millennialmedia.pyro.ui.internal.contentassist.ResourceFileKeywordAssistContributor" priority="6" />
         <processor class="com.millennialmedia.pyro.ui.internal.contentassist.SettingsAssistContributor" priority="1" />
         <processor class="com.millennialmedia.pyro.ui.internal.contentassist.TableNameAssistContributor" priority="15" />
         <processor class="com.millennialmedia.pyro.ui.internal.contentassist.VariableNameAssistContributor" priority="20" />
   </extension>

   <!-- force the visibility of the Show Whitespace Characters action in the main toolbar when Pyro is the active editor  -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="com.millennialmedia.pyro.ui.editor.RobotFrameworkEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
      
   <!-- initialize preference store defaults -->
   <extension point="org.eclipse.core.runtime.preferences">
      	<initializer class="com.millennialmedia.pyro.ui.internal.preferences.PyroPreferenceInitializer" />
   </extension>
      
   <!-- preference pages -->
   <extension point="org.eclipse.ui.preferencePages">
      <page id="com.millenialmedia.pyro.ui.preferences.root"
	        class="com.millennialmedia.pyro.ui.internal.preferences.RootPreferencePage"
            name="%RootPreferencePage.name">
      </page>
      <page id="com.millennialmedia.pyro.ui.preferences.capitalization"
	        class="com.millennialmedia.pyro.ui.internal.preferences.CapitalizationPreferencePage"
	        category="com.millenialmedia.pyro.ui.preferences.root"
            name="%CapitalizationPreferencePage.name">
      </page>
   </extension>      

</plugin>
